<div class="row">
  <div class="p-2">
    <div class="alert" [ngClass]="{'alert-danger': count[count.length-1]< 4 , 'alert-primary': count[count.length-1]>=4 }"  role="alert">
      <span>CANTIDAD DE VASOS CONSUMIDOS: {{count[count.length-1]}} VASOS</span>                 
    </div>         
  </div>
  <div class="mt-2 mb-5" >
    <label for="">MI PROGRESO DIARIO</label>
            <ngb-progressbar *ngIf="progress[progress.length-1]<38" style="height: 20px;" type="danger"  [value]="progress[progress.length-1]">{{progress[progress.length-1]}}%</ngb-progressbar>
            <ngb-progressbar *ngIf="progress[progress.length-1]>38 && progress[progress.length-1]<=50" style="height: 20px;" type="warning"  [value]="progress[progress.length-1]">{{progress[progress.length-1]}}%</ngb-progressbar>
            <ngb-progressbar *ngIf="progress[progress.length-1]>50" style="height: 20px;" type="success"  [value]="progress[progress.length-1]">{{progress[progress.length-1]}}%</ngb-progressbar>
   </div>
  <div class="col-md-6 col-lg-3" *ngFor='let topcard of agua'>
     <a (click)="evento(topcard.agua_id)">
      <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info">
                    <img src="../../../../assets/images/agua/agua.png" width="50px" alt="">
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{topcard.nombre}}</h3>
                    <span>{{topcard.hora_inicio}}</span>
                </div>
            </div>
        </div>
      </div>
     </a>
  </div>
</div>