.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
.isDisable{
  cursor: not-allowed;
  pointer-events: none;
}

.bg-progress{
  background: rgb(227,3,3);
background: linear-gradient(90deg, rgba(227,3,3,1) 0%, rgba(104,14,231,1) 100%);
}