<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="p-3  d-flex">
            <img src="../../../../assets/images/paloma.png" width="50px" class="ms-3 me-3" >
            <h4 class="d-flex align-items-center" >ESPERANZA</h4>
        </div>
        <div class="p-2">
          <div class="alert alert-primary" role="alert">
            <span>Se recomienda orar tres veces al día: antes de Desayunar, Almorzar y Cenar </span>
          </div>
        </div>
        <div class="mt-2 p-2" >
          <label for="">MI PROGRESO DIARIO</label>
          <ngb-progressbar style="height: 20px;" *ngIf="progress[progress.length-1] ==100 && progress[progress.length-1] >=75" type="success" [value]="progress[progress.length-1]">{{progress[progress.length-1]}}%</ngb-progressbar>
          <ngb-progressbar style="height: 20px;" *ngIf="progress[progress.length-1] >=50 && progress[progress.length-1] <=75" type="warning" [value]="progress[progress.length-1]">{{progress[progress.length-1]}}%</ngb-progressbar>
          <ngb-progressbar style="height: 20px;" *ngIf="progress[progress.length-1] < 50 " type="danger" [value]="progress[progress.length-1]">{{progress[progress.length-1]}}%</ngb-progressbar>

        </div>

        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-lg-4" *ngFor='let topcard of esperanza'>
          <a (click)="evento(topcard.esperanza_id)">
           <div class="card">
            <app-congratulation *ngIf="progress[progress.length-1]==100"  ></app-congratulation>

             <div class="card-body">
                 <div class="d-flex align-items-center">
                     <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info">
                         <img src="../../../../assets/images/esperanza/{{topcard.icon}}" width="50px" alt="">
                     </div>
                     <div class="ms-3">
                         <h3 class="mb-0 font-weight-bold">{{topcard.nombre}}</h3>
                         <span>Hora recomendable: {{topcard.hora_inicio}}</span>
                     </div>
                 </div>
             </div>
           </div>
          </a>
       </div>
      </div>

  </div>
