<div class="row">
    <div class="col-12">
      <div class="card">
         <div class="m-4">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label mb-2">BUSCAR POR FECHA </label>
                        <input type="date" id="" [formControl]="fecha"  class="form-control form-control-alternative">
                    </div>
                </div>

                <div>
                    <ul class="list-group" *ngFor="let item of data" >
                      <li class="list-group-item text-uppercase p-2 ">{{item?.nombre}}
                        <ngb-progressbar *ngIf="item?.data.length !=0"style="height: 20px;" type="success" [value]="item?.data[item?.data.length-1]">{{item?.data[item?.data.length-1] }}%</ngb-progressbar>
                        <ngb-progressbar *ngIf="item?.data.length ==0" style="height: 20px;" type="danger" [value]="item?.data[item?.data.length-1]">{{item?.data[item?.data.length-1] }}%</ngb-progressbar>
                      </li>
                    </ul>
                </div>  

            </div>
         </div>
      </div>
    </div>
</div>